.circulo{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 2px 2px 10px white, inset -6px -6px 15px rgb(255, 254, 254), inset 2px 6px 10px whitesmoke , 8px -6px 2px rgba(16, 191, 255, 0.612) , 8px 6px 2px rgb(27, 148, 161),-8px -6px 2px rgb(28, 187, 187);
    animation: spin 1.3s linear infinite;
}
.circulo p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 30px 10px rebeccapurple, inset 0px 0px 20px 10px red,  inset -3px -5px 20px 5px rgb(10, 17, 210);
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}